<h1>Pages#contact</h1>
<p><%= number_to_phone "2087334747" %> </p>

<p><%= number_to_currency 150.00 %> </p>

<p><%= number_to_percentage 80.4 %> </p>

<p><%= number_with_delimiter "123452087334747.12" %> </p>