<div class="inner cover">
  <h1 class="cover-heading">Welcome</h1>
  <p class="lead">Stephenson Consulting, Inc. was founded in 1980. Our focus is making your business work for you. We offer a variety of services related to Information Technology and Business Consulting.
We hope you will spend a few minutes looking over our site. If you have questions or want more information just drop us an  E-Mail or give us a call.</p>
  <p class="lead">
    <%= link_to "Learn More", about_path, class: 'btn btn-lg btn-secondary' %>
  </p>
</div>

